#include "rcstuff.h"

#define APPNAME "PuTTY"
#define APPDESC "SSH, Telnet, Rlogin, and SUPDUP client"

#include "winhelp.rc2"
#include "win_res.rc2"

#ifdef MOD_PERSO
#ifndef NO_MANIFESTS
1 RT_MANIFEST "kitty.mft"
#endif /* NO_MANIFESTS */
#else
#ifndef NO_MANIFESTS
1 RT_MANIFEST "putty.mft"
#endif /* NO_MANIFESTS */
#endif
