/*
 * Windows resources for Pageant.
 */

#include "pageant-rc.h"

#include "rcstuff.h"

#ifdef MOD_INTEGRATED_AGENT
#define APPNAME_AGENT "Kageant"
#define APPDESC_AGENT "KiTTY SSH authentication agent"
#else
#define APPNAME "Pageant"
#define APPDESC "PuTTY SSH authentication agent"
#endif

#include "help.rc2"

#ifdef MOD_INTEGRATED_AGENT
900 ICON "pageant.ico"
901 ICON "pageants.ico"
#else
IDI_MAINICON ICON "pageant.ico"
IDI_TRAYICON ICON "pageants.ico"
#endif

IDD_LOAD_PASSPHRASE DIALOG DISCARDABLE 0, 0, 140, 60
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
#ifdef MOD_PERSO
CAPTION "Kageant: Loading Encrypted Key"
#else
CAPTION "Pageant: Loading Encrypted Key"
#endif
FONT 8, "MS Shell Dlg"
BEGIN
    CTEXT "Enter passphrase to load key", IDC_PASSPHRASE_STATIC1, 10, 6, 120, 8
    CTEXT "", IDC_PASSPHRASE_FINGERPRINT, 10, 16, 120, 8
    EDITTEXT IDC_PASSPHRASE_EDITBOX, 10, 26, 120, 12,
        ES_PASSWORD | ES_AUTOHSCROLL
    DEFPUSHBUTTON "O&K", IDOK, 20, 42, 40, 14
    PUSHBUTTON "&Cancel", IDCANCEL, 80, 42, 40, 14
END

IDD_ONDEMAND_PASSPHRASE DIALOG DISCARDABLE 0, 0, 250, 78
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Pageant: Decrypting Stored Key"
FONT 8, "MS Shell Dlg"
BEGIN
    CTEXT "A client of Pageant wants to use the following encrypted key:",
        IDC_PASSPHRASE_STATIC1, 10, 6, 230, 8
    CTEXT "", IDC_PASSPHRASE_FINGERPRINT, 10, 16, 230, 8
    CTEXT "If you intended this, click in this box to make sure it has",
        IDC_PASSPHRASE_STATIC2, 10, 26, 230, 8
    CTEXT "input focus, then enter the passphrase to decrypt the key.",
        IDC_PASSPHRASE_STATIC3, 10, 34, 230, 8
    EDITTEXT IDC_PASSPHRASE_EDITBOX, 10, 44, 230, 12,
        ES_PASSWORD | ES_AUTOHSCROLL
    DEFPUSHBUTTON "O&K", IDOK, 45, 60, 40, 14
    PUSHBUTTON "&Cancel", IDCANCEL, 105, 60, 40, 14
    PUSHBUTTON "&Help", IDHELP, 165, 60, 50, 14
END

IDD_KEYLIST DIALOG DISCARDABLE 0, 0, 450, 236
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
#ifdef MOD_PERSO
CAPTION "Kageant Key List"
#else
CAPTION "Pageant Key List"
#endif
FONT 8, "MS Shell Dlg"
BEGIN
    LISTBOX 100, 10, 10, 420, 155,
        LBS_EXTENDEDSEL | LBS_HASSTRINGS | LBS_USETABSTOPS | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON "&Add Key", IDC_KEYLIST_ADDKEY, 10, 187, 60, 14
    PUSHBUTTON "Add Key (&encrypted)", IDC_KEYLIST_ADDKEY_ENC, 75, 187, 80, 14
    PUSHBUTTON "Re-e&ncrypt", IDC_KEYLIST_REENCRYPT, 315, 187, 60, 14
    PUSHBUTTON "&Remove", IDC_KEYLIST_REMOVE, 380, 187, 60, 14
    PUSHBUTTON "&Help", IDC_KEYLIST_HELP, 10, 212, 50, 14
    DEFPUSHBUTTON "&Close", IDOK, 390, 212, 50, 14
    LTEXT "&Fingerprint type:", IDC_KEYLIST_FPTYPE_STATIC, 10, 172, 60, 8
    COMBOBOX IDC_KEYLIST_FPTYPE, 70, 170, 60, 12, CBS_DROPDOWNLIST
END

/* Accelerators used: cl */
IDD_ABOUT DIALOG DISCARDABLE 140, 40, 270, 136
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
#ifdef MOD_PERSO
CAPTION "About Kageant"
#else
CAPTION "About Pageant"
#endif
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON "&Close", IDOK, 216, 118, 48, 14
    PUSHBUTTON "View &Licence", IDC_ABOUT_LICENCE, 6, 118, 70, 14
    PUSHBUTTON "Visit &Web Site", IDC_ABOUT_WEBSITE, 140, 118, 70, 14
    EDITTEXT IDC_ABOUT_TEXTBOX, 10, 6, 250, 110,
        ES_READONLY | ES_MULTILINE | ES_CENTER, WS_EX_STATICEDGE
END

/* No accelerators used */
IDD_LICENCE DIALOG DISCARDABLE 50, 50, 326, 239
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "PuTTY Licence"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON "OK", IDOK, 148, 219, 44, 14

    EDITTEXT IDC_LICENCE_TEXTBOX, 10, 10, 306, 200,
        ES_READONLY | ES_MULTILINE | ES_LEFT, WS_EX_STATICEDGE
END

#ifndef MOD_INTEGRATED_AGENT
#include "version.rc2"

#ifndef NO_MANIFESTS
1 RT_MANIFEST "pageant.mft"
#endif /* NO_MANIFESTS */
#endif
