#include "rcstuff.h"

#define APPNAME "PuTTYtel"
#define APPDESC "Telnet and Rlogin client"

#include "help.rc2"
#include "putty-common.rc2"

#ifndef NO_MANIFESTS
1 RT_MANIFEST "puttytel.mft"
#endif /* NO_MANIFESTS */
