/*
 * Windows resources for PuTTYgen.
 */

#include "rcstuff.h"

#ifdef MOD_INTEGRATED_KEYGEN
#define APPNAME_KEYGEN "PuTTYgen"
#define APPDESC_KEYGEN "PuTTY SSH key generation utility"

#include "help.rc2"
#include "puttygen-rc.h"

800 ICON "puttygen.ico"
#else

#define APPNAME "PuTTYgen"
#define APPDESC "PuTTY SSH key generation utility"

#include "winhelp.rc2"
#include "puttygen-rc.h"

200 ICON "puttygen.ico"
#endif

201 DIALOG DISCARDABLE 0, 0, 400, 270
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "PuTTY Key Generator"
FONT 8, "MS Shell Dlg"
BEGIN
END

#ifdef MOD_INTEGRATED_KEYGEN
810 DIALOG DISCARDABLE 0, 0, 140, 60
#else
210 DIALOG DISCARDABLE 0, 0, 140, 60
#endif
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "PuTTYgen: Enter Passphrase"
FONT 8, "MS Shell Dlg"
BEGIN
    CTEXT "Enter passphrase for key", 100, 10, 6, 120, 8
    CTEXT "", 101, 10, 16, 120, 8
    EDITTEXT 102, 10, 26, 120, 12, ES_PASSWORD | ES_AUTOHSCROLL
    DEFPUSHBUTTON "O&K", IDOK, 20, 42, 40, 14
    PUSHBUTTON "&Cancel", IDCANCEL, 80, 42, 40, 14
END

/* Accelerators used: cl */
#ifdef MOD_INTEGRATED_KEYGEN
813 DIALOG DISCARDABLE 140, 40, 270, 136
#else
213 DIALOG DISCARDABLE 140, 40, 270, 136
#endif
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About PuTTYgen"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON "&Close", IDOK, 216, 118, 48, 14
    PUSHBUTTON "View &Licence", 101, 6, 118, 70, 14
    PUSHBUTTON "Visit &Web Site", 102, 140, 118, 70, 14
    EDITTEXT 1000, 10, 6, 250, 110, ES_READONLY | ES_MULTILINE | ES_CENTER, WS_EX_STATICEDGE
END

/* No accelerators used */
#ifdef MOD_INTEGRATED_KEYGEN
814 DIALOG DISCARDABLE 50, 50, 326, 239
#else
214 DIALOG DISCARDABLE 50, 50, 326, 239
#endif
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "PuTTY Licence"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON "OK", IDOK, 148, 219, 44, 14

    EDITTEXT 1000, 10, 10, 306, 200, ES_READONLY | ES_MULTILINE | ES_LEFT, WS_EX_STATICEDGE
END

215 DIALOG DISCARDABLE 0, 0, 259, 98
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "PuTTYgen: Private Key File Parameters"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "PPK file version:", IDC_PPKVER_STATIC, 5, 6, 119, 8
    AUTORADIOBUTTON "2", IDC_PPKVER_2, 124, 5, 30, 10, WS_GROUP
    AUTORADIOBUTTON "3", IDC_PPKVER_3, 154, 5, 30, 10
    LTEXT "Key derivation function:", IDC_KDF_STATIC, 5, 22, 119, 8
    AUTORADIOBUTTON "Argon2id", IDC_KDF_ARGON2ID, 124, 21, 45, 10, WS_GROUP
    AUTORADIOBUTTON "Argon2i", IDC_KDF_ARGON2I, 169, 21, 45, 10, WS_GROUP
    AUTORADIOBUTTON "Argon2d", IDC_KDF_ARGON2D, 214, 21, 45, 10
    LTEXT "Memory to use for passphrase hash:", IDC_ARGON2_MEM_STATIC,
        5, 36, 119, 8
    EDITTEXT IDC_ARGON2_MEM, 124, 34, 40, 12
    LTEXT "Kbyte", IDC_ARGON2_MEM_STATIC2, 174, 36, 34, 8
    LTEXT "Time to use for passphrase hash:", IDC_ARGON2_TIME_STATIC,
        5, 50, 119, 8
    EDITTEXT IDC_ARGON2_TIME, 124, 48, 40, 12
    AUTORADIOBUTTON "ms", IDC_PPK_AUTO_YES, 174, 49, 20, 10, WS_GROUP
    AUTORADIOBUTTON "passes", IDC_PPK_AUTO_NO, 204, 49, 40, 10
    LTEXT "Parallelism for passphrase hash:", IDC_ARGON2_PARALLEL_STATIC,
        5, 64, 119, 8
    EDITTEXT IDC_ARGON2_PARALLEL, 124, 62, 60, 12
    DEFPUSHBUTTON "O&K", IDOK, 70, 80, 40, 14
    PUSHBUTTON "&Cancel", IDCANCEL, 134, 80, 40, 14
END

#ifndef MOD_INTEGRATED_KEYGEN
#include "version.rc2"

#ifndef NO_MANIFESTS
1 RT_MANIFEST "puttygen.mft"
#endif /* NO_MANIFESTS */
#endif
