#include "rcstuff.h"

#define APPNAME "PuTTY"
#define APPDESC "SSH, Telnet, Rlogin, and SUPDUP client"

#include "help.rc2"

IDI_MAINICON ICON "putty.ico"

#ifdef MOD_PERSO

IDI_FILEASSOC ICON "../../res/file_assoc/kitty_assoc.ico"
IDI_PUTTY_LAUNCH ICON "../../res/putty_launcher.ico"
IDI_BLACKBALL ICON "../../res/black.ico"
IDI_NOCON ICON "../../res/nocon/kitty_nocon.ico"

#ifndef FLJ
IDI_MAINICON_0 ICON "../../kitty.ico"
IDI_MAINICON_1 ICON "putty.ico"
#else
IDI_MAINICON_0 ICON "putty.ico"
IDI_MAINICON_1 ICON "../../kitty.ico"
#endif

IDI_MAINICON_2 ICON "../../res/puttyprd.ico"
IDI_MAINICON_3 ICON "../../res/putty2.ico"
IDI_MAINICON_4 ICON "../../res/putty3.ico"

#ifndef FLJ
IDI_MAINICON_5 ICON "../../res/coyote.ico"
IDI_MAINICON_6 ICON "../../res/daffy.ico"
IDI_MAINICON_7 ICON "../../res/tweety.ico"
IDI_MAINICON_8 ICON "../../res/sylvester.ico"

IDI_MAINICON_9 ICON "../../res/0.ico"
IDI_MAINICON_10 ICON "../../res/1.ico"
IDI_MAINICON_11 ICON "../../res/2.ico"
IDI_MAINICON_12 ICON "../../res/3.ico"
IDI_MAINICON_13 ICON "../../res/4.ico"
IDI_MAINICON_14 ICON "../../res/5.ico"
IDI_MAINICON_15 ICON "../../res/6.ico"
IDI_MAINICON_16 ICON "../../res/7.ico"
IDI_MAINICON_17 ICON "../../res/8.ico"
IDI_MAINICON_18 ICON "../../res/9.ico"

IDI_MAINICON_19 ICON "../../res/porky.ico"
IDI_MAINICON_20 ICON "../../res/taz.ico"
IDI_MAINICON_21 ICON "../../res/coq.ico"
IDI_MAINICON_22 ICON "../../res/elmer.ico"
IDI_MAINICON_23 ICON "../../res/mars.ico"
IDI_MAINICON_24 ICON "../../res/speedy.ico"
IDI_MAINICON_25 ICON "../../res/rocky.ico"
IDI_MAINICON_26 ICON "../../res/pepepu.ico"
IDI_MAINICON_27 ICON "../../res/general.ico"
IDI_MAINICON_28 ICON "../../res/hagar.ico"
IDI_MAINICON_29 ICON "../../res/jerry.ico"
IDI_MAINICON_30 ICON "../../res/tom.ico"
IDI_MAINICON_31 ICON "../../res/snoopy.ico"
IDI_MAINICON_32 ICON "../../res/woods.ico"
IDI_MAINICON_33 ICON "../../res/yogi.ico"
IDI_MAINICON_34 ICON "../../res/scooby.ico"
IDI_MAINICON_35 ICON "../../res/shaggy.ico"
IDI_MAINICON_36 ICON "../../res/freddie.ico"
IDI_MAINICON_37 ICON "../../res/velma.ico"
IDI_MAINICON_38 ICON "../../res/daphne.ico"
IDI_MAINICON_39 ICON "../../res/woody.ico"
IDI_MAINICON_40 ICON "../../res/sam.ico"
IDI_MAINICON_41 ICON "../../res/runner.ico"
IDI_MAINICON_42 ICON "../../res/bunny.ico"
IDI_MAINICON_43 ICON "../../res/hellokitty.ico"
IDI_MAINICON_44 ICON "../../cthelper/puttycyg.ico"
IDI_MAINICON_45 ICON "../../res/putty4.ico"
IDI_MAINICON_46 ICON "../../res/putty5.ico"
IDI_MAINICON_47 ICON "../../res/putty6.ico"
IDI_MAINICON_48 ICON "../../res/putty7.ico"
IDI_MAINICON_49 ICON "../../res/putty8.ico"
#endif

IDC_HOVER CURSOR "../../res/Hover.cur"

//IDI_NUCLEAR ICON "../../res/nuclear.ico"

#define IDB_OK	1098

#else
IDI_MAINICON ICON "putty.ico"
#endif

IDI_CFGICON ICON "puttycfg.ico"

#include "putty-common.rc2"

#ifdef MOD_PERSO
#ifndef NO_MANIFESTS
1 RT_MANIFEST "kitty.mft"
#endif /* NO_MANIFESTS */
#else
#ifndef NO_MANIFESTS
1 RT_MANIFEST "putty.mft"
#endif /* NO_MANIFESTS */
#endif
