// windres kitty_dll.c kitty_dll.res.o
// gcc -shared -o kitty.dll kitty_dll.res.o
// upx --best --compress-icons=2 kitty.dll

#define IDI_MAINICON     200

#define NB_ICONES	44

#define IDI_MAINICON_0   300
#define IDI_MAINICON_1   301
#define IDI_MAINICON_2   302
#define IDI_MAINICON_3   303
#define IDI_MAINICON_4   304
#define IDI_MAINICON_5   305
#define IDI_MAINICON_6   306
#define IDI_MAINICON_7   307
#define IDI_MAINICON_8   308
#define IDI_MAINICON_9   309
#define IDI_MAINICON_10   310
#define IDI_MAINICON_11   311
#define IDI_MAINICON_12   312
#define IDI_MAINICON_13   313
#define IDI_MAINICON_14   314
#define IDI_MAINICON_15   315
#define IDI_MAINICON_16   316
#define IDI_MAINICON_17   317
#define IDI_MAINICON_18   318
#define IDI_MAINICON_19   319
#define IDI_MAINICON_20   320
#define IDI_MAINICON_21   321
#define IDI_MAINICON_22   322
#define IDI_MAINICON_23   323
#define IDI_MAINICON_24   324
#define IDI_MAINICON_25   325
#define IDI_MAINICON_26   326
#define IDI_MAINICON_27   327
#define IDI_MAINICON_28   328
#define IDI_MAINICON_29   329
#define IDI_MAINICON_30   330
#define IDI_MAINICON_31   331
#define IDI_MAINICON_32   332
#define IDI_MAINICON_33   333
#define IDI_MAINICON_34   334
#define IDI_MAINICON_35   335
#define IDI_MAINICON_36   336
#define IDI_MAINICON_37   337
#define IDI_MAINICON_38   338
#define IDI_MAINICON_39   339
#define IDI_MAINICON_40   340
#define IDI_MAINICON_41   341
#define IDI_MAINICON_42   342
#define IDI_MAINICON_43   343

IDI_MAINICON ICON "putty.ico"

IDI_MAINICON_0 ICON "../../kitty.ico"
IDI_MAINICON_1 ICON "putty.ico"
IDI_MAINICON_2 ICON "res/puttyprd.ico"
IDI_MAINICON_3 ICON "res/putty2.ico"
IDI_MAINICON_4 ICON "res/putty3.ico"

IDI_MAINICON_5 ICON "res/coyote.ico"
IDI_MAINICON_6 ICON "res/daffy.ico"
IDI_MAINICON_7 ICON "res/tweety.ico"
IDI_MAINICON_8 ICON "res/sylvester.ico"

IDI_MAINICON_9 ICON "res/0.ico"
IDI_MAINICON_10 ICON "res/1.ico"
IDI_MAINICON_11 ICON "res/2.ico"
IDI_MAINICON_12 ICON "res/3.ico"
IDI_MAINICON_13 ICON "res/4.ico"
IDI_MAINICON_14 ICON "res/5.ico"
IDI_MAINICON_15 ICON "res/6.ico"
IDI_MAINICON_16 ICON "res/7.ico"
IDI_MAINICON_17 ICON "res/8.ico"
IDI_MAINICON_18 ICON "res/9.ico"

IDI_MAINICON_19 ICON "res/porky.ico"
IDI_MAINICON_20 ICON "res/taz.ico"
IDI_MAINICON_21 ICON "res/coq.ico"
IDI_MAINICON_22 ICON "res/elmer.ico"
IDI_MAINICON_23 ICON "res/mars.ico"
IDI_MAINICON_24 ICON "res/speedy.ico"
IDI_MAINICON_25 ICON "res/rocky.ico"
IDI_MAINICON_26 ICON "res/pepepu.ico"
IDI_MAINICON_27 ICON "res/general.ico"
IDI_MAINICON_28 ICON "res/hagar.ico"
IDI_MAINICON_29 ICON "res/jerry.ico"
IDI_MAINICON_30 ICON "res/tom.ico"
IDI_MAINICON_31 ICON "res/snoopy.ico"
IDI_MAINICON_32 ICON "res/woods.ico"
IDI_MAINICON_33 ICON "res/yogi.ico"
IDI_MAINICON_34 ICON "res/scooby.ico"
IDI_MAINICON_35 ICON "res/shaggy.ico"
IDI_MAINICON_36 ICON "res/freddie.ico"
IDI_MAINICON_37 ICON "res/velma.ico"
IDI_MAINICON_38 ICON "res/daphne.ico"
IDI_MAINICON_39 ICON "res/woody.ico"
IDI_MAINICON_40 ICON "res/sam.ico"
IDI_MAINICON_41 ICON "res/runner.ico"
IDI_MAINICON_42 ICON "res/bunny.ico"
IDI_MAINICON_43 ICON "res/hellokitty.ico"

