#include "notepad.h"

NOTEPAD_IDI_MAINICON ICON "res/bille.ico"

NOTEPAD_IDR_ACCEL ACCELERATORS MOVEABLE PURE
BEGIN
"N",	NOTEPAD_IDM_NEW,		VIRTKEY, CONTROL
"O",	NOTEPAD_IDM_OPEN,		VIRTKEY, CONTROL
"S",	NOTEPAD_IDM_SAVE,		VIRTKEY, CONTROL
"S",	NOTEPAD_IDM_SAVEAS,		VIRTKEY, CONTROL, SHIFT
"A",	NOTEPAD_IDM_SELECTALL,		VIRTKEY, CONTROL
"Q",	NOTEPAD_IDM_QUIT,		VIRTKEY, CONTROL
VK_F12,		NOTEPAD_IDM_SEND,	VIRTKEY
VK_F12,		NOTEPAD_IDM_SEND_ALL,	VIRTKEY, SHIFT
VK_RETURN,	NOTEPAD_IDM_SEND,	VIRTKEY, CONTROL
VK_F11,		NOTEPAD_IDM_RESIZE_ALL, VIRTKEY, SHIFT
VK_F11,		NOTEPAD_IDM_CASCADE_ALL, VIRTKEY, CONTROL
"V",	NOTEPAD_IDM_PASTE,		VIRTKEY, CONTROL
END

STRINGTABLE DISCARDABLE 
BEGIN
	NOTEPAD_STR_FILE	"&File"
	NOTEPAD_STR_NEW		"&New\tCtrl+N"
	NOTEPAD_STR_OPEN 	"&Open...\tCtrl+O"
	NOTEPAD_STR_SAVE 	"&Save\tCtrl+S"
	NOTEPAD_STR_SAVEAS 	"S&ave as...\tCtrl+Shift+S"
	NOTEPAD_STR_QUIT 	"&Quit\tCtrl+Q"
	
	NOTEPAD_STR_EDIT	"&Edit"
	NOTEPAD_STR_CUT		"&Cut\tCtrl+X"
	NOTEPAD_STR_COPY	"C&opy\tCtrl+C"
	NOTEPAD_STR_PASTE	"&Paste\tCtrl+V"
	NOTEPAD_STR_SELECTALL	"&Select All\tCtrl+A"
	NOTEPAD_STR_UNDO	"Undo\tCtrl+Z"
	NOTEPAD_STR_SETFONT	"Format"

	NOTEPAD_STR_SEND	"&Send (F12)"
	NOTEPAD_STR_SEND_ALL	"Send All"
	
	NOTEPAD_STR_DELIM	"&Delimiter"
	NOTEPAD_STR_CRLF	"&Carriage return"
	NOTEPAD_STR_SCOLON	"&Semicolon"
	NOTEPAD_STR_SLASH	"S&lash"
	NOTEPAD_STR_TILDE	"&Tilde"
 
	NOTEPAD_STR_HELP	"&?"
	NOTEPAD_STR_ABOUT	"&About"
	
	NOTEPAD_FILE_FILTER	"Text files, (*.txt, *.ini)|*.txt;*.ini|C/C++ files, (*.c, *.cpp, *.h, *.rc)|*.c;*.cpp;*.h;*.rc|Script files, (*.ksh, *.sh)|*.ksh;*.sh\0SQL files, (*.sql)|*.sql|All files, (*.*)|*.*\0"
	
	NOTEPAD_STR_LICENCE "                mNotepad 1.0\nwritten by Cyd, 2023, for the Telnet/SSH client TTY"
END
