#include "rcstuff.h"

#define APPNAME "PuTTYtel"
#define APPDESC "Telnet and Rlogin client"

#include "win_res.rc2"

#ifndef NO_MANIFESTS
/* FIXME */
1 RT_MANIFEST "putty.mft"
#endif /* NO_MANIFESTS */
