#include "rcstuff.h"

#define APPNAME "PuTTY"
#define APPDESC "SSH, Telnet and Rlogin client"

#include "win_res.rc2"

#ifndef NO_MANIFESTS
1 RT_MANIFEST "putty.mft"
#endif /* NO_MANIFESTS */
