#include "rcstuff.h"

#define APPNAME "PuTTYtel"
#define APPDESC "Telnet and Rlogin client"

#include "winhelp.rc2"
#include "win_res.rc2"

#ifndef NO_MANIFESTS
1 RT_MANIFEST "puttytel.mft"
#endif /* NO_MANIFESTS */
